# Meta WhatsApp Cloud API (unchanged integration)
ACCESS_TOKEN=EAGJEggOMLuUBRT06fwNJTE3WLHuO0wy0vnLdW4xfQZCY91nrqDjp1Ew8rTowieYpZA33CZAZBpFt38ebDVM63CyWhhEsRT5Hr7XfpSRpFuTIXZCzuKRPF4RXL1NaZB5dZB3W23GLtGQsTEUlewZA6H2pZBy7QtrVnR02BQvkA1mnkcLQYZCcVKQpjc3Bz10bZAEnMHeoQZDZD
PHONE_NUMBER_ID=1062739823597142
VERIFY_TOKEN=mytoken
VET_NUMBER=8801721417598

# Supabase
SUPABASE_URL=https://bbgmcpicvujmktcrcjen.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJiZ21jcGljdnVqbWt0Y3JjamVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMTI3NDMsImV4cCI6MjA5Mzg4ODc0M30.gXcbUTC-vybQfgFR-o60FBUepUxlCy_u8gZ3wFORScE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJiZ21jcGljdnVqbWt0Y3JjamVuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMxMjc0MywiZXhwIjoyMDkzODg4NzQzfQ.SdC6rv3Zb3m_lP97KX5Kmm6wWkyevj4OKOXHVU4Z5es
PAYMENT_SCREENSHOT_BUCKET=payment-screenshots
 
 